.header{
  background-color: azure;
  color: black;
  text-align: center;
}
.section{
  color: black;
  text-align: center;
}
.fer{
  color: blue;
  text-align: center;
}
.dew{
  color: red;
  text-align: center;
}



